//
   Created by wenslow on 2017/7/10.

doctype html
html(lang='en')
    head
        title Hello world!
    body
        h1 This is a Pug example
        #container <!-- 不指定元素的话就是div -->
            p Wow.